.landingbutton {
  border: double 4px transparent;
  border-radius: 50px;
  background-image: linear-gradient(#00000000, #00000000),
    radial-gradient(circle at top left, rgb(241, 39, 17), rgb(245, 175, 25));
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  font-weight: 500;
  transition: 0.9s;
}

.landingbutton:hover {
  background-image: linear-gradient(#00000000, #00000000),
    radial-gradient(
      circle at top left,
      rgba(241, 39, 17, 0.9),
      rgba(245, 175, 25, 0.9)
    );
  transition: 0.9s;
}
